<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>252AFEE8-19F7-44B9-8094-232742AE5647</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youtube</string>
			<key>text</key>
			<string>youtube</string>
			<key>url</key>
			<string>https://youtube.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>25CEF5D0-5EC1-47A1-A192-3DA25CF1BB49</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>jira {query}</string>
			<key>url</key>
			<string>https://jira.rbbn.com/secure/RapidBoard.jspa?rapidView=40&amp;projectKey=KAA&amp;view=detail&amp;selectedIssue={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>274201B7-FE65-4B4C-9AFD-4171D2D41647</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bank</string>
			<key>text</key>
			<string>bank</string>
			<key>url</key>
			<string>https://www1.royalbank.com/cgi-bin/rbaccess/rbcgi3m01?F6=1&amp;F7=IB&amp;F21=IB&amp;F22=IB&amp;REQUEST=ClientSignin&amp;LANGUAGE=ENGLISH</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3CF497E2-5FA6-4771-8381-B90C78B01C2A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>notes</string>
			<key>text</key>
			<string>google notes</string>
			<key>url</key>
			<string>https://keep.google.com/#home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3E45488C-DDF9-4B37-B78C-82E9EEBB70CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>jira</string>
			<key>url</key>
			<string>https://jira.rbbn.com/secure/RapidBoard.jspa?rapidView=40&amp;projectKey=KAA&amp;view=detail</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>75295334-795D-45C6-96AC-A53D1C15BA21</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weather</string>
			<key>text</key>
			<string>weather in ottawa</string>
			<key>url</key>
			<string>https://www.theweathernetwork.com/ca/weather/ontario/ottawa</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>79E48410-69FC-40B5-B268-C168BEF0A093</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github user {query}</string>
			<key>url</key>
			<string>https://github.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A3D84A93-52AA-4268-93E3-7CB15220E9D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki.sonusnet</string>
			<key>text</key>
			<string>wiki.sonusnet</string>
			<key>url</key>
			<string>https://wiki.sonusnet.com/pages/viewpage.action?spaceKey=KSDK&amp;title=Finding+your+way+around</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C4C18BA4-EABC-41E6-86BB-17ED9685490D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>text</key>
			<string>amazon</string>
			<key>url</key>
			<string>https://amazon.ca</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D79FC0D1-B87D-4C53-96B2-7D7221B4DB20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>calendar</string>
			<key>text</key>
			<string>google calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/r</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E61272E7-12EE-420C-8AEA-43356409B590</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E9EB7D6A-66D8-41F8-8C42-E3F4CED154B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>text</key>
			<string>amazon {query}</string>
			<key>url</key>
			<string>https://www.amazon.ca/s?k={query}&amp;ref=nb_sb_noss</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
